a(href="#").logo
	.logo__name
		span Savych
		| Yuliia Olehivna
	.logo_position
		| web developer
a(href="tel:+380956629189")
	|+ 38 (095)
	span 66-29-189
ul.links-list
	li
		a(href="#") linkedIn
	li
		a(href="#") замовити
		|
		| сайт
.info-box.
	пн - чт : 10:00 - 18:00; #[br]
	сб, нд : вихідний
.info-box.
	м.Івано-Франківськ #[br]
	вул. Галицька